{%- extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
<!doctype html>
<head>
	<title>{% block title %}Stepper Motor Interface{% endblock title %}</title>
	{% block styles %}
	{{super()}}
	<link href="{{ url_for('static', filename='sticky-footer.css') }}" rel="stylesheet">
	{% endblock %}
	{% block scripts %}{{super()}}{% endblock %}
</head>
<body>
	{% block navbar -%}
	{% include 'menu.html' %}
	{%- endblock navbar %}
	{% block content %}
		<div class="container">
			{%- with messages = get_flashed_messages(with_categories=True) %}
			{%- if messages %}
				<div class="row">
					{{utils.flashed_messages(messages)}}
				</div>
			{%- endif %}
			{%- endwith %}
				<div class="page-header">
					<h2>{{ self.title() }}</h2>
				</div>
			{% block submenu %}
			{% endblock submenu %}
			<div class="jumbotron">
			{% block jumbotron %}{% endblock %}
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<p class="text-muted text-center">Em caso de problemas, entre em contato com o desenvolvedor: <a href="mailto:fhollanda@live.com?Subject=Problema%20SMI" target="_top">fhollanda@live.com</a></p>
			</div>
		</footer>
	{%- endblock content %}
</body>
</html>