{% extends "base.html" %}
{% block title %}{{titles.CAPTURES}}{% endblock %}
{% block styles %}
{{super()}}
	<link href="{{ url_for('static', filename='capture.css') }}" rel="stylesheet">
{% endblock %}
{% block jumbotron %}
{{super()}}
	{% if captures %}
		{% for key, values in captures.items() %}
			<div class="panel panel-info">
				<div class="panel-body text-center">
						<div class="row">
							<div>
								<h4>{{ values[0] }}</h4>
							</div>
							<div class="hover-btn">
								{% include 'remove_modal.html' %}
								<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#removeModal"><span class="glyphicon glyphicon-remove"></span>{{ fields.REMOVE }}</button>
							</div>
						</div>
					<div>
						<a href="{{url_for('captures.get_specific', uuid=key, fileformat='json')}}" class="btn btn-success btn-sm">JSON <span class="glyphicon glyphicon-download-alt"></span></a>
						<a href="{{url_for('captures.get_specific', uuid=key, fileformat='matlab')}}" class="btn btn-info btn-sm">MATLAB <span class="glyphicon glyphicon-download-alt"></span></a>
					</div>
				</div>
				<div class="panel-footer text-center">
					<strong>{{ key }}</strong>
					<br/>
					{{ fields.DATE_CREATED }}{{ values[1] | strftime }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}