{% extends "base.html" %}
{% block title %}{{titles.MANUAL_MOVE}}{% endblock %}
{% block styles %}
{{super()}}
	<link href="{{ url_for('static', filename='d-pad.css') }}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type="text/javascript">
		function move(axis, direction) {
			var data = JSON.stringify({ 'axis': axis, 'direction': direction });

			$.ajax({
				type: 'POST',
				url: "{{url_for('manual_move.move_to_direction')}}",
				data: data,
				contentType: 'application/json'
			});
		}
	</script>
{% endblock %}
{% block jumbotron %}
{{super()}}
<div class="manual-info">
	<p>{{ fields.MANUAL_MOVE_INFO }}</p>
</div>
<div class="box">
	<div class="controller-left">
		<div class="d-pad-1">
			<div class="d-key up" onClick="javascript:move('x', 'f')"></div>
			<div class="d-key down" onClick="javascript:move('x', 'r')"></div>
		</div>
		<div class="d-pad-2">
			<div class="d-key left" onClick="javascript:move('y', 'f')"></div>
			<div class="d-key right" onClick="javascript:move('y', 'r')"></div>
		</div>
	</div>
	<div class="controller-right">
		<div class="d-pad-1">
			<div class="d-key up" onClick="javascript:move('z', 'r')"></div>
			<div class="d-key down" onClick="javascript:move('z', 'f')"></div>
		</div>
	</div>
</div>
{% endblock %}