{% extends "movement.html" %}
{% block h2 %}Varredura com duas dimensões{% endblock %}
{{super()}}
{% block subcontent %}
<form action="" method="post" name="move2d_form" class="form-horizontal">
	{{ form.hidden_tag() }}
	{% for error in form.steps.errors %}
		<span style="color: red;">{{ error }}</span>
	{% endfor %}<br>

	<div class="form-group">
		<label class="control-label col-sm-2" for="axis">{{fields.AXIS}}:</label> 
		{% for axis in form.axis_radio %}
			<label class="radio-inline">
				{{ axis }}{{ axis.label }}
			</label>
		{% endfor %}
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="direction">{{fields.DIRECTION}}:</label> 
		{% for direction in form.direction_radio %}
			<label class="radio-inline">
				{{ direction }}{{ direction.label }}
			</label>
		{% endfor %}
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="steps">{{fields.STEPS}}:</label>
		<div class="col-sm-10"> 
			{{ form.steps(size=4, class_="form-control") }}
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="acquisition_rate">{{fields.ACQUISTION_RATE}}:</label>
		<div class="col-sm-10"> 
			{{ form.acquisition_rate(size=2, class_="form-control") }}
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="axis_secondary">{{fields.SECONDARY_AXIS}}:</label> 
		{% for axis_secondary in form.axis_secondary_radio %}
			{% if not form.axis_radio.data == axis_secondary.data %}
			<label class="radio-inline">
				{{ axis_secondary }}{{ axis_secondary.label }}
			</label>
			{% endif %}
		{% endfor %}
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="acquisition_offset_rate">{{fields.TOTAL_STEPS_SECONDARY}}:</label>
		<div class="col-sm-10"> 
			{{ form.acquisition_offset_rate(size=2, class_="form-control") }}
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="secondary_axis_step_size">{{fields.SIZE_STEPS_SECONDARY}}:</label>
		<div class="col-sm-10"> 
			{{ form.secondary_axis_step_size(size=2, class_="form-control") }}
		</div>
	</div>
	
	<div class="form-group"> 
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="{{fields.BUTTON}}" class="btn btn-primary">
		</div>
	</div>
</form>
{% endblock %}